* {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
}
html {
  width: 100%;
}
body {
  background-color: whitesmoke;
  box-shadow: 5px 5px 10px 5px rgb(190, 190, 190), -2px -2px 15px 5px whitesmoke;
  width: 100vw;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
}

/* left nav list */

.accordion-header {
  display: flex;
  justify-content: center;
}
.accordion-button {
  width: 300px;
  height: 200px;
  background-color: whitesmoke;
  font-size: 25px !important;
}
.accordion-body {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  font-size: 22px !important;
}
.scroll {
  overflow: visible;
  overflow-y: scroll;
  height: 420px;
}
.accordion-item {
  background-color: whitesmoke;
}

.form-control {
  width: 40px;
  height: 20px;
}
/* sentence */
p {
  font-size: 2rem;
  line-height: 2;
  text-align: left;
}
.block {
  margin-bottom: 80px;
  box-shadow: 5px 5px 10px 5px rgb(190, 190, 190), -2px -2px 15px 5px whitesmoke;
  border-radius: 15px;
}
h1 {
  font-weight: 800;
}
h2 {
  font-size: 40px;
  font-weight: 700;
}
strong {
  color: red;
}

.word {
  text-align: center;
  margin-top: 100px;
  width: 100%;
  float: left;
  height: auto;
}

/* header */

.header {
  color: white;
  font-size: 80px;
  background-color: white;
  padding-left: 40px;
  padding-bottom: 20px;
}

/* right nav list
 */

.sagg {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  padding-right: 30px;
  width: 100%;
  /* width: 50px;
  float: left;
  margin-top: 50px;
  margin-right: 0px; */
}

/* logo */

.imgg {
  width: 150px;
  height: 65px;
}

/* sticky */

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
}

.nav-link {
  color: black;
}

/* photos */

img {
  /* width: 1180px; */
  width: 100%;
  height: auto;
  border-radius: 15px;
}

/* icon */

.icon {
  color: white;
}

.text-muted {
  color: white !important;
}

.icon,
.text-muted {
  border-radius: 50%;
  background-color: #339af0;
}

.btn-icon {
  width: 50px;
  height: 50px;
  display: none;
}

.accordion-body {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  font-size: 24px !important;
  line-height: 1.8;
}
.accordion-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.accordion-button {
  width: 200px;
  height: 100px;
  background-color: whitesmoke;
  font-size: 26px !important;
  font-weight: 600;
}

.accordion-item {
  width: 100%;
}
.ici-logo {
  display: block;
  margin-top: 20px;
}

.accordion-header {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: whitesmoke;
  width: 100%;
}

/* ***** HAMBURGER ***** */

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke: #228be6;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
